{
    "openapi": "3.1.0",
    "info": {
        "description": "This page describes the format for the current Hangar REST API as well as general usage guidelines.\u003Cbr\u003E\nNote that all routes **not** listed here should be considered **internal**, and can change at a moment's notice. **Do not use them**.\n\n## Authentication and Authorization\nThere are two ways to consume the API: Authenticated or anonymous.\n\n### Anonymous\nWhen using anonymous authentication, you only have access to public information, but you don't need to worry about creating and storing an API key or handing JWTs.\n\n### Authenticated\nIf you need access to non-public content or actions, you need to create and use API keys.\nThese can be created by going to the API keys page via the profile dropdown or by going to your user page and clicking on the key icon.\n\nAPI keys allow you to impersonate yourself, so they should be handled like passwords. **Do not share them with anyone else!**\n\n#### Getting and Using a JWT\nOnce you have an API key, you need to authenticate yourself: Send a `POST` request with your API key identifier to `/api/v1/authenticate?apiKey=yourKey`.\nThe response will contain your JWT as well as an expiration time.\nPut this JWT into the `Authorization` header of every request and make sure to request a new JWT after the expiration time has passed.\n\nPlease also set a meaningful `User-Agent` header. This allows us to better identify loads and needs for potentially new endpoints.\n\n## Misc\n### Date Formats\nStandard ISO types. Where possible, we use the [OpenAPI format modifier](https://swagger.io/docs/specification/data-models/data-types/#format).\n\n### Rate Limits and Caching\nThe default rate limit is set at 20 requests every 5 seconds with an initial overdraft for extra leniency.\nIndividual endpoints, such as version creation, may have stricter rate limiting.\n\nIf applicable, always cache responses. The Hangar API itself is cached by CloudFlare and internally.",
        "title": "Hangar API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://hangar.papermc.io",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/api/v1/authenticate": {
            "post": {
                "description": "`Log-in` with your API key in order to be able to call other endpoints authenticated. The returned JWT should be specified as a header in all following requests: `Authorization: HangarAuth your.jwt`",
                "operationId": "authenticate",
                "parameters": [
                    {
                        "description": "JWT",
                        "in": "query",
                        "name": "apiKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSession"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSession"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiSession"
                                }
                            }
                        },
                        "description": "Api key missing or invalid"
                    }
                },
                "summary": "Creates an API JWT",
                "tags": [
                    "Authentication"
                ]
            }
        },
        "/api/v1/authors": {
            "get": {
                "description": "Returns all users that have at least one public project. Requires the `view_public_info` permission.",
                "operationId": "getAuthors",
                "parameters": [
                    {
                        "description": "The search query",
                        "in": "query",
                        "name": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination information",
                        "in": "query",
                        "name": "pagination",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RequestPagination"
                        }
                    },
                    {
                        "description": "Used to sort the result",
                        "in": "query",
                        "name": "sort",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "name",
                                "createdAt",
                                "projectCount"
                            ]
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns all users with at least one public project",
                "tags": [
                    "Users"
                ]
            }
        },
        "/api/v1/keys": {
            "delete": {
                "description": "Deletes an API key. Requires the `edit_api_keys` permission.",
                "operationId": "deleteKey",
                "parameters": [
                    {
                        "description": "The name of the key to delete",
                        "in": "query",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Key deleted"
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_api_keys"
                        ]
                    }
                ],
                "summary": "Deletes an API key",
                "tags": [
                    "API Keys"
                ]
            },
            "get": {
                "description": "Fetches a list of API Keys. Requires the `edit_api_keys` permission.",
                "operationId": "getKeys",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiKey"
                                    }
                                }
                            }
                        },
                        "description": "The keys"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiKey"
                                    }
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiKey"
                                    }
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_api_keys"
                        ]
                    }
                ],
                "summary": "Fetches a list of API Keys",
                "tags": [
                    "API Keys"
                ]
            },
            "post": {
                "description": "Creates an API key. Requires the `edit_api_keys` permission.",
                "operationId": "createKey",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAPIKeyForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Key created"
                    },
                    "401": {
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_api_keys"
                        ]
                    }
                ],
                "summary": "Creates an API key",
                "tags": [
                    "API Keys"
                ]
            }
        },
        "/api/v1/pages/edit/{project}": {
            "patch": {
                "description": "Edits a page of a project. Requires the `edit_page` permission in the project or owning organization.",
                "operationId": "editPage",
                "parameters": [
                    {
                        "description": "The slug or id of the project to change the page for",
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PageEditForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_page"
                        ]
                    }
                ],
                "summary": "Edits a page of a project",
                "tags": [
                    "Pages"
                ]
            }
        },
        "/api/v1/pages/editmain/{project}": {
            "patch": {
                "description": "Edits the main page of a project. Requires the `edit_page` permission in the project or owning organization.",
                "operationId": "editMainPage",
                "parameters": [
                    {
                        "description": "The slug or id of the project to change the page for",
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StringContent"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_page"
                        ]
                    }
                ],
                "summary": "Edits the main page of a project",
                "tags": [
                    "Pages"
                ]
            }
        },
        "/api/v1/pages/main/{project}": {
            "get": {
                "description": "Returns the main page of a project. Requires visibility of the page.",
                "operationId": "getMainPage",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return the page for",
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "summary": "Returns the main page of a project",
                "tags": [
                    "Pages"
                ]
            }
        },
        "/api/v1/pages/page/{project}": {
            "get": {
                "description": "Returns a page of a project. Requires visibility of the page.",
                "operationId": "getPage",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return the page for",
                        "in": "path",
                        "name": "project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The path of the page",
                        "in": "query",
                        "name": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "summary": "Returns a page of a project",
                "tags": [
                    "Pages"
                ]
            }
        },
        "/api/v1/permissions": {
            "get": {
                "description": "Returns a list of permissions you have in the given context",
                "operationId": "showPermissions",
                "parameters": [
                    {
                        "deprecated": true,
                        "description": "Deprecated alias for `project`",
                        "in": "query",
                        "name": "slug",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id or name of the organization to check permissions in. Must not be used together with `project`",
                        "in": "query",
                        "name": "organization",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id or slug of the project to check permissions in. Must not be used together with `organization`",
                        "in": "query",
                        "name": "project",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPermissions"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPermissions"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPermissions"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    }
                },
                "security": [
                    {
                        "HangarAuth": []
                    }
                ],
                "summary": "Returns your permissions",
                "tags": [
                    "Permissions"
                ]
            }
        },
        "/api/v1/permissions/hasAll": {
            "get": {
                "description": "Checks whether you have all the provided permissions in the given context",
                "operationId": "hasAll",
                "parameters": [
                    {
                        "description": "The permissions to check",
                        "in": "query",
                        "name": "permissions",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/NamedPermission"
                            },
                            "maxItems": 50,
                            "minItems": 0,
                            "uniqueItems": true
                        }
                    },
                    {
                        "deprecated": true,
                        "description": "Deprecated alias for `project`",
                        "in": "query",
                        "name": "slug",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id or name of the organization to check permissions in. Must not be used together with `slug`",
                        "in": "query",
                        "name": "organization",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id or slug of the project to check permissions in. Must not be used together with `organization`",
                        "in": "query",
                        "name": "project",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermissionCheck"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermissionCheck"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermissionCheck"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    }
                },
                "security": [
                    {
                        "HangarAuth": []
                    }
                ],
                "summary": "Checks whether you have all the provided permissions",
                "tags": [
                    "Permissions"
                ]
            }
        },
        "/api/v1/permissions/hasAny": {
            "get": {
                "description": "Checks whether you have at least one of the provided permissions in the given context",
                "operationId": "hasAny",
                "parameters": [
                    {
                        "description": "The permissions to check",
                        "in": "query",
                        "name": "permissions",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/NamedPermission"
                            },
                            "uniqueItems": true
                        }
                    },
                    {
                        "deprecated": true,
                        "description": "Deprecated alias for `project`",
                        "in": "query",
                        "name": "slug",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id or name of the organization to check permissions in. Must not be used together with `project`",
                        "in": "query",
                        "name": "organization",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id or slug of the project to check permissions in. Must not be used together with `organization`",
                        "in": "query",
                        "name": "project",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermissionCheck"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermissionCheck"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermissionCheck"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    }
                },
                "security": [
                    {
                        "HangarAuth": []
                    }
                ],
                "summary": "Checks whether you have at least one of the provided permissions",
                "tags": [
                    "Permissions"
                ]
            }
        },
        "/api/v1/projects": {
            "get": {
                "description": "Searches all the projects on Hangar, or for a single user. Requires the `view_public_info` permission.",
                "operationId": "getProjects",
                "parameters": [
                    {
                        "deprecated": true,
                        "description": "Whether to prioritize the project with an exact name match if present",
                        "in": "query",
                        "name": "prioritizeExactMatch",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "description": "Pagination information",
                        "in": "query",
                        "name": "pagination",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RequestPagination"
                        }
                    },
                    {
                        "description": "Used to sort the result",
                        "in": "query",
                        "name": "sort",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "views",
                                "downloads",
                                "newest",
                                "stars",
                                "updated",
                                "recent_downloads",
                                "recent_views",
                                "slug"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "description": "A category to filter for",
                        "in": "query",
                        "name": "category",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "A platform to filter for",
                        "in": "query",
                        "name": "platform",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "The author of the project",
                        "in": "query",
                        "name": "owner",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "deprecated": true,
                        "description": "Deprecated: Use 'query' instead",
                        "in": "query",
                        "name": "q",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "The query to use when searching",
                        "in": "query",
                        "name": "query",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "A license to filter for",
                        "in": "query",
                        "name": "license",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "A platform version to filter for",
                        "in": "query",
                        "name": "version",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "A tag to filter for",
                        "in": "query",
                        "name": "tag",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "The member of the project",
                        "in": "query",
                        "name": "member",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultProject"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultProject"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultProject"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Searches the projects on Hangar",
                "tags": [
                    "Projects"
                ]
            }
        },
        "/api/v1/projects/{author}/{slugOrId}/latest": {
            "get": {
                "deprecated": true,
                "operationId": "getLatestVersion",
                "parameters": [
                    {
                        "description": "The author of the project to return the latest version for",
                        "in": "path",
                        "name": "author",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The slug or id of the project to return the latest version for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The channel to return the latest version for",
                        "in": "query",
                        "name": "channel",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "OK"
                    }
                },
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{author}/{slugOrId}/latestrelease": {
            "get": {
                "deprecated": true,
                "operationId": "getLatestReleaseVersion",
                "parameters": [
                    {
                        "description": "The author of the project to return the latest version for",
                        "in": "path",
                        "name": "author",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The slug or id of the project to return the latest version for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "OK"
                    }
                },
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{author}/{slugOrId}/upload": {
            "post": {
                "deprecated": true,
                "operationId": "uploadVersion_1",
                "parameters": [
                    {
                        "description": "The author of the project to return versions for",
                        "in": "path",
                        "name": "author",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The slug or id of the project to return versions for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "files": {
                                        "type": "array",
                                        "description": "The version files in order of selected platforms, if any",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "versionUpload": {
                                        "$ref": "#/components/schemas/VersionUpload"
                                    }
                                },
                                "required": [
                                    "versionUpload"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadedVersion"
                                }
                            }
                        },
                        "description": "OK"
                    }
                },
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{author}/{slugOrId}/versions": {
            "get": {
                "deprecated": true,
                "operationId": "getVersions",
                "parameters": [
                    {
                        "description": "The author of the project to return versions for",
                        "in": "path",
                        "name": "author",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The slug or id of the project to return versions for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination information",
                        "in": "query",
                        "name": "pagination",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultVersion"
                                }
                            }
                        },
                        "description": "OK"
                    }
                },
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{author}/{slugOrId}/versions/{nameOrId}": {
            "get": {
                "deprecated": true,
                "operationId": "getVersion",
                "parameters": [
                    {
                        "description": "The author of the project to return the version for",
                        "in": "path",
                        "name": "author",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The slug or id of the project to return the version for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the version to return",
                        "in": "path",
                        "name": "nameOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Version"
                                }
                            }
                        },
                        "description": "OK"
                    }
                },
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{author}/{slugOrId}/versions/{nameOrId}/stats": {
            "get": {
                "deprecated": true,
                "operationId": "getVersionStats",
                "parameters": [
                    {
                        "description": "The author of the version to return the stats for",
                        "in": "path",
                        "name": "author",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The slug or id of the project to return stats for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name or id of the version to return the stats for",
                        "in": "path",
                        "name": "nameOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The first date to include in the result",
                        "in": "query",
                        "name": "fromDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "The last date to include in the result",
                        "in": "query",
                        "name": "toDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/VersionStats"
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    }
                },
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{author}/{slugOrId}/versions/{nameOrId}/{platform}/download": {
            "get": {
                "deprecated": true,
                "operationId": "downloadVersion_1",
                "parameters": [
                    {
                        "description": "The author of the project to download the version from",
                        "in": "path",
                        "name": "author",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The slug or id of the project to download the version from",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the version to download",
                        "in": "path",
                        "name": "nameOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The platform of the version to download",
                        "in": "path",
                        "name": "platform",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Platform"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        },
                        "description": "OK"
                    }
                },
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}": {
            "get": {
                "description": "Returns info on a specific project. Requires the `view_public_info` permission.",
                "operationId": "getProject",
                "parameters": [
                    {
                        "description": "The slug or id or id of the project to return",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Project"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns info on a specific project",
                "tags": [
                    "Projects"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/latest": {
            "get": {
                "description": "Returns the latest version of a project. Requires the `view_public_info` permission in the project or owning organization.",
                "operationId": "latestVersion",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return the latest version for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The channel to return the latest version for",
                        "in": "query",
                        "name": "channel",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns the latest version of a project for a specific channel",
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/latestrelease": {
            "get": {
                "description": "Returns the latest version of a project. Requires the `view_public_info` permission in the project or owning organizations.",
                "operationId": "latestReleaseVersion",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return the latest version for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns the latest release version of a project",
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/members": {
            "get": {
                "description": "Returns the members of a project. Requires the `view_public_info` permission.",
                "operationId": "getProjectMembers",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return members for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination information",
                        "in": "query",
                        "name": "pagination",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultProjectMember"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultProjectMember"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultProjectMember"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns the members of a project",
                "tags": [
                    "Projects"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/stargazers": {
            "get": {
                "description": "Returns the stargazers of a project. Requires the `view_public_info` permission.",
                "operationId": "getProjectStargazers",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return stargazers for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination information",
                        "in": "query",
                        "name": "pagination",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns the stargazers of a project",
                "tags": [
                    "Projects"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/stats": {
            "get": {
                "description": "Returns the stats (downloads and views) for a project per day for a certain date range. Requires the `is_subject_member` permission.",
                "operationId": "showProjectStats",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return stats for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The first date to include in the result",
                        "in": "query",
                        "name": "fromDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "The last date to include in the result",
                        "in": "query",
                        "name": "toDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/DayProjectStats"
                                    }
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/DayProjectStats"
                                    }
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/DayProjectStats"
                                    }
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "is_subject_member"
                        ]
                    }
                ],
                "summary": "Returns the stats for a project",
                "tags": [
                    "Projects"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/upload": {
            "post": {
                "description": "Creates a new version for a project. Requires the `create_version` permission in the project or owning organization.\nMake sure you provide the contents of this request as multipart/form-data.\nYou can find a simple example implementation written in Java here: https://gist.github.com/kennytv/a227d82249f54e0ad35005330256fee2",
                "operationId": "uploadVersion",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return versions for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "encoding": {
                                "versionUpload": {
                                    "contentType": "application/json"
                                }
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "files": {
                                        "type": "array",
                                        "description": "The version files in order of selected platforms, if any",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "versionUpload": {
                                        "$ref": "#/components/schemas/VersionUpload"
                                    }
                                },
                                "required": [
                                    "versionUpload"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadedVersion"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadedVersion"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadedVersion"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "create_version"
                        ]
                    }
                ],
                "summary": "Creates a new version and returns parts of its metadata",
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/versions": {
            "get": {
                "description": "Returns all versions of a project. Requires the `view_public_info` permission in the project or owning organization.",
                "operationId": "listVersions",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return versions for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination information",
                        "in": "query",
                        "name": "pagination",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RequestPagination"
                        }
                    },
                    {
                        "description": "Whether to include hidden-by-default channels in the result, defaults to true",
                        "in": "query",
                        "name": "includeHiddenChannels",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "description": "A name of a version channel to filter for",
                        "in": "query",
                        "name": "channel",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "A platform name to filter for",
                        "in": "query",
                        "name": "platform",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "A platform version to filter for",
                        "in": "query",
                        "name": "platformVersion",
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultVersion"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultVersion"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultVersion"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns all versions of a project",
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/versions/{nameOrId}": {
            "get": {
                "description": "Returns a specific version of a project. Requires the `view_public_info` permission in the project or owning organization.",
                "operationId": "showVersion",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return the version for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name or id of the version to return",
                        "in": "path",
                        "name": "nameOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Version"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Version"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Version"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns a specific version of a project",
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/versions/{nameOrId}/stats": {
            "get": {
                "description": "Returns the stats (downloads) for a version per day for a certain date range. Requires the `is_subject_member` permission.",
                "operationId": "showVersionStats",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return stats for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version to return the stats for",
                        "in": "path",
                        "name": "nameOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The first date to include in the result",
                        "in": "query",
                        "name": "fromDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "The last date to include in the result",
                        "in": "query",
                        "name": "toDate",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/VersionStats"
                                    }
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/VersionStats"
                                    }
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/VersionStats"
                                    }
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "is_subject_member"
                        ]
                    }
                ],
                "summary": "Returns the stats for a version",
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/versions/{nameOrId}/{platform}/download": {
            "get": {
                "description": "Downloads the file for a specific platform of a version. Requires visibility of the project and version.",
                "operationId": "downloadVersion",
                "parameters": [
                    {
                        "description": "The slug or id of the project to download the version from",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the version to download",
                        "in": "path",
                        "name": "nameOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The platform of the version to download",
                        "in": "path",
                        "name": "platform",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Platform"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/java-archive": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "303": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        },
                        "description": "Version has an external download url"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        },
                        "description": "Version doesn't have a file attached to it"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": []
                    }
                ],
                "summary": "Downloads a version",
                "tags": [
                    "Versions"
                ]
            }
        },
        "/api/v1/projects/{slugOrId}/watchers": {
            "get": {
                "description": "Returns the watchers of a project. Requires the `view_public_info` permission.",
                "operationId": "getProjectWatchers",
                "parameters": [
                    {
                        "description": "The slug or id of the project to return watchers for",
                        "in": "path",
                        "name": "slugOrId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination information",
                        "in": "query",
                        "name": "pagination",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns the watchers of a project",
                "tags": [
                    "Projects"
                ]
            }
        },
        "/api/v1/staff": {
            "get": {
                "description": "Returns Hanagr staff. Requires the `view_public_info` permission.",
                "operationId": "getStaff",
                "parameters": [
                    {
                        "description": "The search query",
                        "in": "query",
                        "name": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination information",
                        "in": "query",
                        "name": "pagination",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RequestPagination"
                        }
                    },
                    {
                        "description": "Used to sort the result",
                        "in": "query",
                        "name": "sort",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "name",
                                "createdAt",
                                "roles"
                            ]
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Ok"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResultUser"
                                }
                            }
                        },
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ],
                "summary": "Returns Hangar staff",
                "tags": [
                    "Users"
                ]
            }
        },
        "/api/v1/users": {
            "get": {
                "description": "Returns a list of users based on a search query. Requires the `view_public_info` permission.",
                "operationId": "showUsers",
                "parameters": [
                    {
                        "description": "The search query",
                        "in": "query",
                        "name": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination information",
                        "in": "query",
                        "name": "pagination",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RequestPagination"
                        }
                    },
                    {
                        "description": "Used to sort the result",
                        "in": "query",
                        "name": "sort",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "name",
                                "createdAt",
                                "projectCount",
[...]
