{
    "openapi": "3.0.1",
    "info": {
        "version": "1.0",
        "title": "Hangar API",
        "description": "This page describes the format for the current Hangar REST API as well as general usage guidelines.\u003Cbr\u003E\nNote that all routes **not** listed here should be considered **internal**, and can change at a moment's notice. **Do not use them**.\n\n## Authentication and Authorization\nThere are two ways to consume the API: Authenticated or anonymous.\n\n### Anonymous\nWhen using anonymous authentication, you only have access to public information, but you don't need to worry about creating and storing an API key or handing JWTs.\n\n### Authenticated\nIf you need access to non-public content or actions, you need to create and use API keys.\nThese can be created by going to the API keys page via the profile dropdown or by going to your user page and clicking on the key icon.\n\nAPI keys allow you to impersonate yourself, so they should be handled like passwords. **Do not share them with anyone else!**\n\n#### Getting and Using a JWT\nOnce you have an API key, you need to authenticate yourself: Send a `POST` request with your API key identifier to `/api/v1/authenticate?apiKey=yourKey`.\nThe response will contain your JWT as well as an expiration time.\nPut this JWT into the `Authorization` header of every request and make sure to request a new JWT after the expiration time has passed.\n\nPlease also set a meaningful `User-Agent` header. This allows us to better identify loads and needs for potentially new endpoints.\n\n## Misc\n### Date Formats\nStandard ISO types. Where possible, we use the [OpenAPI format modifier](https://swagger.io/docs/specification/data-models/data-types/#format).\n\n### Rate Limits and Caching\nThe default rate limit is set at 20 requests every 5 seconds with an initial overdraft for extra leniency.\nIndividual endpoints, such as version creation, may have stricter rate limiting.\n\nIf applicable, always cache responses. The Hangar API itself is cached by CloudFlare and internally."
    },
    "servers": [
        {
            "url": "https://hangar.papermc.io",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/api/v1/projects/{slug}/upload": {
            "post": {
                "tags": [
                    "Versions"
                ],
                "summary": "Creates a new version and returns parts of its metadata",
                "description": "Creates a new version for a project. Requires the `create_version` permission in the project or owning organization.\nMake sure you provide the contents of this request as multipart/form-data.\nYou can find a simple example implementation written in Java here: https://gist.github.com/kennytv/a227d82249f54e0ad35005330256fee2",
                "operationId": "uploadVersion",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return versions for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "versionUpload"
                                ],
                                "type": "object",
                                "properties": {
                                    "files": {
                                        "type": "array",
                                        "description": "The version files in order of selected platforms, if any",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "versionUpload": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.internal.versions.VersionUpload"
                                    }
                                }
                            },
                            "encoding": {
                                "versionUpload": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.UploadedVersion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.UploadedVersion"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.UploadedVersion"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "create_version"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{author}/{slug}/upload": {
            "post": {
                "tags": [
                    "Versions"
                ],
                "operationId": "uploadVersion_1",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "The author of the project to return versions for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return versions for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "versionUpload"
                                ],
                                "type": "object",
                                "properties": {
                                    "files": {
                                        "type": "array",
                                        "description": "The version files in order of selected platforms, if any",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "versionUpload": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.internal.versions.VersionUpload"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.UploadedVersion"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/keys": {
            "get": {
                "tags": [
                    "API Keys"
                ],
                "summary": "Fetches a list of API Keys",
                "description": "Fetches a list of API Keys. Requires the `edit_api_keys` permission.",
                "operationId": "getKeys",
                "responses": {
                    "200": {
                        "description": "Key created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.ApiKey"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.ApiKey"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.ApiKey"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_api_keys"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "API Keys"
                ],
                "summary": "Creates an API key",
                "description": "Creates an API key. Requires the `edit_api_keys` permission.",
                "operationId": "createKey",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/io.papermc.hangar.model.internal.api.requests.CreateAPIKeyForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Key created",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_api_keys"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "API Keys"
                ],
                "summary": "Deletes an API key",
                "description": "Deletes an API key. Requires the `edit_api_keys` permission.",
                "operationId": "deleteKey",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The name of the key to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Key deleted"
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_api_keys"
                        ]
                    }
                ]
            }
        },
        "/api/v1/authenticate": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Creates an API JWT",
                "description": "`Log-in` with your API key in order to be able to call other endpoints authenticated. The returned JWT should be specified as a header in all following requests: `Authorization: HangarAuth your.jwt`",
                "operationId": "authenticate",
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "JWT",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.auth.ApiSession"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.auth.ApiSession"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api key missing or invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.auth.ApiSession"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/pages/editmain/{slug}": {
            "patch": {
                "tags": [
                    "Pages"
                ],
                "summary": "Edits the main page of a project",
                "description": "Edits the main page of a project. Requires the `edit_page` permission in the project or owning organization.",
                "operationId": "editMainPage",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to change the page for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/io.papermc.hangar.model.internal.api.requests.StringContent"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_page"
                        ]
                    }
                ]
            }
        },
        "/api/v1/pages/edit/{slug}": {
            "patch": {
                "tags": [
                    "Pages"
                ],
                "summary": "Edits a page of a project",
                "description": "Edits a page of a project. Requires the `edit_page` permission in the project or owning organization.",
                "operationId": "editPage",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to change the page for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.PageEditForm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired"
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint"
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "edit_page"
                        ]
                    }
                ]
            }
        },
        "/api/v1/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Searches for users",
                "description": "Returns a list of users based on a search query. Requires the `view_public_info` permission.",
                "operationId": "showUsers",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "The search query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/users/{user}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Returns a specific user",
                "description": "Returns a specific user. Requires the `view_public_info` permission.",
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The name of the user to return",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/users/{user}/watching": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Returns the watched projects for a specific user",
                "description": "Returns the watched projects for a specific user. Requires the `view_public_info` permission.",
                "operationId": "getUserWatching",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The user to return watched projects for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "How to sort the projects",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.ProjectSortingStrategy"
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.ProjectCompact"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.ProjectCompact"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.ProjectCompact"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/users/{user}/starred": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Returns the starred projects for a specific user",
                "description": "Returns the starred projects for a specific user. Requires the `view_public_info` permission.",
                "operationId": "showStarred",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The user to return starred projects for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "How to sort the projects",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.ProjectSortingStrategy"
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.ProjectCompact"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.ProjectCompact"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.ProjectCompact"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/users/{user}/pinned": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Returns the pinned projects for a specific user",
                "description": "Returns the pinned projects for a specific user. Requires the `view_public_info` permission.",
                "operationId": "getUserPinnedProjects",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "description": "The user to return pinned projects for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.ProjectCompact"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.ProjectCompact"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.ProjectCompact"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/staff": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Returns Hangar staff",
                "description": "Returns Hanagr staff. Requires the `view_public_info` permission.",
                "operationId": "getStaff",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "The search query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Searches the projects on Hangar",
                "description": "Searches all the projects on Hangar, or for a single user. Requires the `view_public_info` permission.",
                "operationId": "getProjects",
                "parameters": [
                    {
                        "name": "prioritizeExactMatch",
                        "in": "query",
                        "description": "Whether to prioritize the project with an exact name match if present",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.Project"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.Project"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.Project"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Returns info on a specific project",
                "description": "Returns info on a specific project. Requires the `view_public_info` permission.",
                "operationId": "getProject",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.Project"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.Project"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.Project"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/watchers": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Returns the watchers of a project",
                "description": "Returns the watchers of a project. Requires the `view_public_info` permission.",
                "operationId": "getProjectWatchers",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return watchers for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/versions": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "summary": "Returns all versions of a project",
                "description": "Returns all versions of a project. Requires the `view_public_info` permission in the project or owning organization.",
                "operationId": "listVersions",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return versions for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    },
                    {
                        "name": "includeHiddenChannels",
                        "in": "query",
                        "description": "Whether to include hidden-by-default channels in the result, defaults to try",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.version.Version"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.version.Version"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.version.Version"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/versions/{name}": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "summary": "Returns a specific version of a project",
                "description": "Returns a specific version of a project. Requires the `view_public_info` permission in the project or owning organization.",
                "operationId": "showVersion",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return the version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the version to return",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.Version"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.Version"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.Version"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/versions/{name}/{platform}/download": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "summary": "Downloads a version",
                "description": "Downloads the file for a specific platform of a version. Requires visibility of the project and version.",
                "operationId": "downloadVersion",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to download the version from",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the version to download",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The platform of the version to download",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.common.Platform"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "303": {
                        "description": "Version has an external download url",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Version doesn't have a file attached to it",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [

                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/versions/{name}/stats": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "summary": "Returns the stats for a version",
                "description": "Returns the stats (downloads) for a version per day for a certain date range. Requires the `is_subject_member` permission.",
                "operationId": "showVersionStats",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return stats for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The version to return the stats for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "description": "The first date to include in the result",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "description": "The last date to include in the result",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.VersionStats"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.VersionStats"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.VersionStats"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "is_subject_member"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/stats": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Returns the stats for a project",
                "description": "Returns the stats (downloads and views) for a project per day for a certain date range. Requires the `is_subject_member` permission.",
                "operationId": "showProjectStats",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return stats for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "description": "The first date to include in the result",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "description": "The last date to include in the result",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.DayProjectStats"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.DayProjectStats"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.DayProjectStats"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "is_subject_member"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/stargazers": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Returns the stargazers of a project",
                "description": "Returns the stargazers of a project. Requires the `view_public_info` permission.",
                "operationId": "getProjectStargazers",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return stargazers for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.User"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/members": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Returns the members of a project",
                "description": "Returns the members of a project. Requires the `view_public_info` permission.",
                "operationId": "getProjectMembers",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return members for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.ProjectMember"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.ProjectMember"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.ProjectMember"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/latestrelease": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "summary": "Returns the latest release version of a project",
                "description": "Returns the latest version of a project. Requires the `view_public_info` permission in the project or owning organizations.",
                "operationId": "latestReleaseVersion",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return the latest version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{slug}/latest": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "summary": "Returns the latest version of a project for a specific channel",
                "description": "Returns the latest version of a project. Requires the `view_public_info` permission in the project or owning organization.",
                "operationId": "latestVersion",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return the latest version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The channel to return the latest version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not enough permissions to use this endpoint",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [
                            "view_public_info"
                        ]
                    }
                ]
            }
        },
        "/api/v1/projects/{author}/{slug}/versions": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "operationId": "getVersions",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "The author of the project to return versions for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return versions for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pagination",
                        "in": "query",
                        "description": "Pagination information",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.api.requests.RequestPagination"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.PaginatedResultIo.papermc.hangar.model.api.project.version.Version"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/projects/{author}/{slug}/versions/{name}": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "operationId": "getVersion",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "The author of the project to return the version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return the version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the version to return",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.Version"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/projects/{author}/{slug}/versions/{name}/{platform}/download": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "operationId": "downloadVersion_1",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "The author of the project to download the version from",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to download the version from",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the version to download",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The platform of the version to download",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/io.papermc.hangar.model.common.Platform"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/projects/{author}/{slug}/versions/{name}/stats": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "operationId": "getVersionStats",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "The author of the version to return the stats for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return stats for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The version to return the stats for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "description": "The first date to include in the result",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "description": "The last date to include in the result",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "$ref": "#/components/schemas/io.papermc.hangar.model.api.project.version.VersionStats"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/projects/{author}/{slug}/latestrelease": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "operationId": "getLatestReleaseVersion",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "The author of the project to return the latest version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return the latest version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/projects/{author}/{slug}/latest": {
            "get": {
                "tags": [
                    "Versions"
                ],
                "operationId": "getLatestVersion",
                "parameters": [
                    {
                        "name": "author",
                        "in": "path",
                        "description": "The author of the project to return the latest version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return the latest version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "The channel to return the latest version for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/permissions": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Returns your permissions",
                "description": "Returns a list of permissions you have in the given context",
                "operationId": "showPermissions",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "The slug of the project get the permissions for. Must not be used together with `organization`",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The organization to check permissions in. Must not be used together with `slug`",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.permissions.UserPermissions"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.permissions.UserPermissions"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.permissions.UserPermissions"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [

                        ]
                    }
                ]
            }
        },
        "/api/v1/permissions/hasAny": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Checks whether you have at least one of the provided permissions",
                "description": "Checks whether you have at least one of the provided permissions in the given context",
                "operationId": "hasAny",
                "parameters": [
                    {
                        "name": "permissions",
                        "in": "query",
                        "description": "The permissions to check",
                        "required": true,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/io.papermc.hangar.model.common.NamedPermission"
                            }
                        }
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "The slug of the project to check permissions in. Must not be used together with `organization`",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The organization to check permissions in. Must not be used together with `slug`",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.permissions.PermissionCheck"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.permissions.PermissionCheck"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.permissions.PermissionCheck"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [

                        ]
                    }
                ]
            }
        },
        "/api/v1/permissions/hasAll": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Checks whether you have all the provided permissions",
                "description": "Checks whether you have all the provided permissions in the given context",
                "operationId": "hasAll",
                "parameters": [
                    {
                        "name": "permissions",
                        "in": "query",
                        "description": "The permissions to check",
                        "required": true,
                        "schema": {
                            "maxItems": 50,
                            "minItems": 0,
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/io.papermc.hangar.model.common.NamedPermission"
                            }
                        }
                    },
                    {
                        "name": "slug",
                        "in": "query",
                        "description": "The project slug of the project to check permissions in. Must not be used together with `organizationName`",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The organization to check permissions in. Must not be used together with `projectOwner` and `projectSlug`",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.permissions.PermissionCheck"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.permissions.PermissionCheck"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/io.papermc.hangar.model.api.permissions.PermissionCheck"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HangarAuth": [

                        ]
                    }
                ]
            }
        },
        "/api/v1/pages/page/{slug}": {
            "get": {
                "tags": [
                    "Pages"
                ],
                "summary": "Returns a page of a project",
                "description": "Returns a page of a project. Requires visibility of the page.",
                "operationId": "getPage",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The slug of the project to return the page for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "path",
                        "in": "query",
                        "description": "The path of the page",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Api session missing, invalid or expired",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
[...]
